/* reset */
body { font: lighter 1.5em/1 georgia; text-align: center; background-color: #ccc; margin-top: 1em; }
div, input, button { box-sizing: border-box; }

/* container */
.container { width: 300px; margin: 0 auto; background-color: #fff; overflow: hidden; margin-top: 1em; box-shadow: 10px 10px 5px #888888; }
input[type="password"] {
	display: block;
	width: 100%;
	font-size: 2em;
	line-height: 2;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 0;
	text-align: center;
	cursor:not-allowed;
}
#keys { overflow: auto; border-top: 1px solid #ccc; }
button {
	font-size: 1.1em;
	margin: 0;
	border: 0;
	background-color: #fff;
	display: block;
	float: left;
	width: 100px;
	padding: 1em 0;
	cursor: pointer;
}
button:hover, button:active, button:focus { background-color: yellowgreen; outline: 0;  color: #fff; }

.grey { color: #999; }

#show{
	display: inline;
width:200px;
  height:100px;
  float:right;
 margin-top:-440px;
  margin-right: 200px;
	font-size: 2em;
	line-height: 2;
	color: #555;
	background-image: none;
	border: 0;
	text-align: center;
  box-shadow: 10px 10px 5px #888888;
}
